.container {
  justify-content: center;
  display: flex;
  flex-direction: row;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

li {
  padding: 1.3rem;
}

a {
  padding: 3rem;
  color: white;
  text-decoration: none;
}

a:hover {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

h1 {
  padding-left: 43.5%;
}
